@use '../abstracts' as *;

header {
  display: grid;
  grid-template-columns: 200px 1fr;
  border: $border-style;

  .logo {
    background-color: #fff9c4;
    border-right: $border-style;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;

    img {
      max-height: 50px;
      background-color: #0c2766c9;
      border-radius: 10px;
    }
  }

  .header {
    display: flex;
    align-items: center;
    padding-left: $padding-base;

    h2 {
      margin: 0;
      font-size: 1.2rem;
    }
  }
}
