@use '../abstracts' as *;

.mainPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  gap: 10px;
  padding: 10px;

  main {
    border: $border-style;
    padding: $padding-base;
    background-color: #fff;

    h3,
    h4 {
      margin-top: 0;
    }

    .photo,
    .gsu {
      max-width: 250px;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    .info {
      margin-bottom: 20px;
      span {
        font-weight: bold;
      }
    }
  }
}
